@tailwind base;
@tailwind components;
@tailwind utilities;

/* start global components */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
video,
button,
h1,
h2,
p {
  user-select: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

::webkit-scrollbar {
  width: 0;
}

.slide-out,
.slide-out-2,
.slide-out-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: left;
}

.slide-out {
  background-color: #d5deef;
}

.slide-out-2 {
  background-color: #638ecb;
}

.slide-out-3 {
  background-color: #395086;
}

@media screen and (max-width: 991px) {
  .nav-lg {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav-sm {
    display: none;
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.footer {
  background-image: url("../public/assets/bbblurry.svg");
  background-position: 100% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
  }
}
.footer h6 {
  font-size: 2rem;
  border-bottom: 2px solid #6dcff6;
  margin-bottom: 1rem;
}
.footer .top h4 {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  .footer .top h4 {
    font-size: 2rem;
  }
}
.footer .middle .middle-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media screen and (max-width: 768px) {
  .footer .middle .middle-content {
    gap: 3rem;
  }
}
.footer .middle .middle-content .cta h5 {
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .footer .middle .middle-content .cta h5 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .middle .middle-content .cta {
    margin-top: 2rem;
  }
}
.footer .middle .middle-content .informations {
  width: 90vw;
}
.footer .middle .middle-content .informations .social .social-icons svg {
  width: 1.5rem;
  height: 1.5rem;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;
}
@media screen and (max-width: 768px) {
  .footer .bottom {
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}
.footer .bottom p a {
  font-size: 1.5rem;
}
/* end global components */
