// Light Mode Color Palette

$secondary-color: #638ecb; // Use for secondary buttons, links, and accent elements
$accent-color-1: #8aaee0; // Use for call-to-action buttons and interactive elements
$background-color: #f0f3fa; // Use for overall background of the application
$text-color: #395086; // Use for general text, paragraphs, and body content

// Dark Mode Color Palette

$secondary-color-dark: #d5deef; // Use for secondary buttons, links, and accent elements in dark mode
$accent-color-1-dark: #8aaee0; // Use for call-to-action buttons and interactive elements in dark mode
$background-color-dark: #395086; // Use for overall background of the application in dark mode
$text-color-dark: #f0f3fa; // Use for general text, paragraphs, and body content in dark mode

.light {
  background-color: $background-color;
  color: $text-color;
  .nav-lg,
  .nav-sm {
    background-color: transparent;
    p {
      color: $text-color;
      cursor: pointer;
    }
  }
  .nav-lg {
    button {
      background-color: $secondary-color;
      color: $text-color-dark;
    }
  }
  .menu li p {
    font-size: 2rem;
    color: $text-color;
  }
  .heroo {
    .lines {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      margin: auto;
      width: 90vw;
    }

    .line {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: rgba(138, 174, 224, 0.1);
      overflow: hidden;
    }
    .line::after {
      content: "";
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(138, 174, 224, 0) 0%,
        #8aaee0 75%,
        #8aaee0 100%
      );
      -webkit-animation: drop 7s 0s infinite;
      animation: drop 7s 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    .line:nth-child(1) {
      margin-left: -25%;
    }
    .line:nth-child(1)::after {
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
    .line:nth-child(3) {
      margin-left: 25%;
    }
    .line:nth-child(3)::after {
      -webkit-animation-delay: 2.5s;
      animation-delay: 2.5s;
    }

    @-webkit-keyframes drop {
      0% {
        top: -50%;
      }
      100% {
        top: 110%;
      }
    }

    @keyframes drop {
      0% {
        top: -50%;
      }
      100% {
        top: 110%;
      }
    }
  }
}

.dark {
  background-color: $background-color-dark;
  color: $text-color-dark;
  .nav-lg,
  .nav-sm {
    background-color: $background-color;
    color: $text-color;
    p {
      color: $text-color;
      cursor: pointer;
    }
  }
  .nav-lg {
    button {
      background-color: $secondary-color;
      color: $text-color-dark;
    }
  }
  .menu li p {
    font-size: 2rem;
    color: $text-color-dark;
  }
  .heroo {
    .lines {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      margin: auto;
      width: 90vw;
    }

    .line {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
    }
    .line::after {
      content: "";
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(240, 243, 250, 0) 0%,
        #f0f3fa 75%,
        #f0f3fa 100%
      );
      -webkit-animation: drop 7s 0s infinite;
      animation: drop 7s 0s infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    .line:nth-child(1) {
      margin-left: -25%;
    }
    .line:nth-child(1)::after {
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
    .line:nth-child(3) {
      margin-left: 25%;
    }
    .line:nth-child(3)::after {
      -webkit-animation-delay: 2.5s;
      animation-delay: 2.5s;
    }

    @-webkit-keyframes drop {
      0% {
        top: -50%;
      }
      100% {
        top: 110%;
      }
    }

    @keyframes drop {
      0% {
        top: -50%;
      }
      100% {
        top: 110%;
      }
    }
  }
}
