// Light Mode Palette
$primary-background-light: #caf0f8;
$primary-text-light: #03045e;
$accent-1-light: #0077b6;
$accent-2-light: #00b4d8;
$accent-3-light: #90e0ff;

// Dark Mode Palette
$primary-background-dark: #03045e;
$primary-text-dark: #caf0f8;
$accent-1-dark: #0077b6;
$accent-2-dark: #00b4d8;
$accent-3-dark: #90e0ff;

@mixin light-mode {
  background-color: $primary-background-light;
  color: $primary-text-light;
  // Add more styles as needed
}

@mixin dark-mode {
  background-color: $primary-background-dark;
  color: $primary-text-dark;
  // Add more styles as needed
}

.light {
  @include light-mode;
  .nav {
    background-color: $primary-background-light;
    p {
      color: $primary-text-light;
    }
  }
  .title {
    .headings {
      h2 {
        font-size: 15rem;
        line-height: 10rem;
        color: $primary-text-light;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $primary-text-light;
        @media screen and (max-width: 991px) {
          -webkit-text-stroke-width: 2px;
          font-size: 3.5rem;
          line-height: 4rem;
        }
      }
    }
  }
  .primary-button {
    background-color: $accent-1-light;
    color: white;

    &:hover {
      background-color: darken($accent-1-light, 10%);
      // Add more hover styles as needed
    }
  }
  .secondary-button {
    background-color: $accent-2-light;
    color: $primary-background-dark;

    &:hover {
      background-color: darken($accent-2-light, 10%);
      // Add more hover styles as needed
    }
  }
  ::selection {
    background-color: $primary-background-dark;
    color: $primary-text-dark;
  }
}
.dark {
  @include dark-mode;
  .nav {
    background-color: $primary-background-light;
    p {
      color: $primary-text-light;
    }
  }
  .title {
    .headings {
      h2 {
        font-size: 15rem;
        line-height: 10rem;
        color: $primary-text-dark;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $primary-text-dark;
        @media screen and (max-width: 991px) {
          -webkit-text-stroke-width: 2px;
          font-size: 3.5rem;
          line-height: 4rem;
        }
      }
    }
  }
  .primary-button {
    background-color: $accent-1-dark;
    color: white;

    &:hover {
      background-color: darken($accent-1-dark, 10%);
      // Add more hover styles as needed
    }
  }
  .secondary-button {
    background-color: $accent-2-dark;
    color: $primary-background-light;

    &:hover {
      background-color: darken($accent-2-dark, 10%);
      // Add more hover styles as needed
    }
  }
  ::selection {
    background-color: $primary-background-light;
    color: $primary-text-light;
  }
}
