// start global variables
$accent-1-light: #0077b6;
$primary-text-light: #03045e;
// end global variables

.tour {
  @media screen and (max-width: 991px) {
    display: none;
  }
  button {
    font-size: 1.3rem;
    background-color: $accent-1-light;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
  }
}
